<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../views/head %>
</head>
<body class="container">

<header>
    <% include ../views/header %>
</header>

<main>
    <div class="jumbotron">
            <% include ../views/login %>
    </div>
</main>

<footer>
    <% include ../views/footer %>
</footer>

</body>
</html>