<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <form id="loginform" style="margin-left: 133%" method="POST" action="/users/login">
                <label>Username:</label>
                <input type = "text" id="username" name="username"> <br/>
                <label>Password:</label>
                <input type = "password" id="password" name="password"> <br/><br/>
                <button style= "margin-left: 20%">Login</button>
            </form>

        </div>
    
    </div>
</nav>
    