<!-- views/partials/header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <form id="loginform" style="margin-left: 133%" method="POST" action="/users/login">
                <label>Username:</label>
                <input type = "text" id="username" name="username"> <br/>
                <label>Password:</label>
                <input type = "password" id="password" name="password"> <br/><br/>
                <button class="loginSubmit" style= "margin-left: 20%">Login</button>
            </form>

        </div>
    
    </div>
</nav>
    
<script type ="text/javascript">

$(".loginSubmit").click(function() {
    $.ajax({
        url: '/users/login/',
        method: 'post',
        data: {
            username: $('#username').val(),
            password: $('#password').val()
        },
        success: function(data) {
            if(data && data.status == 200 && data.success == true) {
                location.href = "/users/dashboard";
            } else {
                location.href = "/users/login";
            }
        }
    })
})
</script>